@charset "UTF-8";


#inicial{ /* O titulo h1 customizado*/
   text-align: center; /*alinhamento de texto*/
   background-color: darkred; /* cor da parte traseira*/ 
   color: #ffffff; /*Cor da fonte*/
   padding: 15px; /*Cria um distanciamento*/
}



main{ /* modificação da div*/
   font-weight: bold;/* Peso da fonte*/ 
   margin:auto; /* Margen centralização/indentação*/
   min-width: 350px; /* máxima largura*/
   max-width: 850px; /*minima largura*/
   background-color: coral; /* cor da parte traseira*/
   text-align: justify; /*alinhamento do texto*/
}

#primal{
 margin:auto;/* Margen centralização/indentação*/
 width: 850px;
}

h2{
    
    background-color: firebrick;/* cor da parte traseira*/
    color: white;/*Cor da fonte*/
    text-align: center;/*alinhamento do texto*/
    margin: 10px;/*margen*/
    padding: 9px;/*Cria um distanciamento*/
}
table{
   text-align: center;/*alinhamento do texto*/
   margin: auto; /*margen*/
   background-color: brown;/* cor da parte traseira*/
   color: white;/*Cor da fonte*/
   font-weight: bold;/*peso da fonte*/
}